

.slider-frame{
    overflow: hidden;
    height: 600px;
    width: 300px;
    display: grid;
    place-items: center;




}
@-webkit-keyframes slide_animation{
    0% {left : 0px;}
    10% {left : 0px;}
    20% {left : 300px;}
    30% {left : 300px;}
    40% {left : 600px;}
    50% {left : 600px;}
    60% {left : 300px;}
    70% {left : 300px;}
    90% {left : 0px;}
    80% {left : 0px;}
    100% {left : 0px;}
}

.slide-images{
    width: 600;
    height: 600px;
    margin: 0 0 0 -400px;
    position: relative;
    display: flex;
    -webkit-animation-name: slide_animation ;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container{
    height: 800px;
    width: 3600px;
    position: relative;
    float: right;
}
.img-container img{
    height: 300px;
    width: 300px;

}


